@{
    ViewBag.Title = "Zee Fantastic";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
  <img src="../Images/MadameZ/madamez.jpg" class="img-responsive thumbnail" />
</div>
<p>I'm Zee fantastic, Ghost Photographer &amp; Special Effects Artist</p>
<p>I've always been fascinated with ghosts since my first encounter at age 8...</p>
