@{
    ViewBag.Title = "David S. Pumpkins";
}
<div >
  <img src="../Images/DavidPumpkins/image_1.jpg" class="img-responsive" alt="My one true love!" />
  <h2>I have an obsession</h2>
</div>
<div>
  <img src="../Images/DavidPumpkins/slap.gif" class="img-responsive" alt="so Spooky!" />  
  <h3>With David S. Pumpkins.</h3>
</div>
<div>
  <img src="../Images/DavidPumpkins/image_2.jpg" class="img-responsive" alt="so Spooky!" />
  <h4>He's my everything</h4>  
</div>

<div>
  <img src="../Images/DavidPumpkins/gif_dance.gif" class="img-responsive" alt="my obsession" />
  <h4>Any Questions?</h4>
</div>



  